[submodule "submodules/RWM-P0-C12345678"]
	path = submodules/RWM-P0-C12345678
	url = https://github.com/itcmartin/RWM-P0-C12345678
[submodule "submodules/RWM-P0-C00226918"]
	path = submodules/RWM-P0-C00226918
	url = https://github.com/francis-carroll/RWM-P0-C00226918
